<div class="m-device">
	<div class="m-ticket">
		<div class="row">
			<div class="col">
				<div class="m-ticket__header">
					<div>
						<img class="m-ticket__header_logo" src="tecg.png" alt="Logo Institucional">
					</div>
					<div>
						<img  class="m-ticket__header_img" [src]="Usuario.Usuario.image" alt="Foto del estudiante">
					</div>
					<div class="a-ticket__person">
						<h3>{{ Usuario.Usuario.nombre }}</h3>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="m-ticket__details">
			
					<div class="a-ticket__title">
						Estudiante
					</div>
					<div>
						<div class="row">
							<div class="col-4">
								<dt class="a-ticket__dTitle">Cedula:</dt>
							</div>
							<div class="col">
								<dd class="a-ticket__dValue">{{Usuario.Usuario.cedula}}</dd>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<dt class="a-ticket__dTitle">Telefono:</dt>
							</div>
							<div class="col">
								<dd class="a-ticket__dValue">{{Usuario.Usuario.telefono}}</dd>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<dt class="a-ticket__dTitle">Carrera:</dt>
							</div>
							<div class="col">
								<dd class="a-ticket__dValue">{{Usuario.Usuario.carrera}}</dd>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<dt class="a-ticket__dTitle">Semestre:</dt>
							</div>
							<div class="col">
								<dd class="a-ticket__dValue">{{Usuario.Usuario.semestre}}</dd>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<dt class="a-ticket__dTitle">Correo:</dt>
							</div>
							<div class="col">
								<dd class="a-ticket__dValue_correo">{{Usuario.Usuario.correo}}</dd>
							</div>
						</div>
						<div class="row codes_container">
							<div class="col in_codes_container">
								<div class="row">
									<div class="col-2 text-v">
										Cedula
									</div>
									<div class="col">
										<qrcode class="col qr" [allowEmptyString]="true" [qrdata]="Usuario.Usuario.cedula" [width]="1" [scale]="4" [margin]="0" [errorCorrectionLevel]="'M'"></qrcode>
									</div>
								</div>
							</div>			  
							<div class="col in_codes_container">
								<div class="row">
									<div class="col-2 text-v" style="font-size: smaller;">
										Matricula
									</div>
									<div class="col">
										<qrcode class="col qr" [allowEmptyString]="true" [qrdata]="Usuario.Usuario.matricula" [width]="1" [scale]="4" [margin]="0" [errorCorrectionLevel]="'M'"></qrcode>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
